.boxWrapper {
  width: 30px;
  height: 90px;
}

.box1 {
  margin: 4px;
  width: 250px;
  height: 90px;
  border: 2px solid #f5e027;
  background-color: #f2f9fc;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 15px;
}

.box2 {
  margin: 4px;
  margin-left: 80px;
  width: 250px;
  height: 90px;
  border: 2px solid #7150b3;
  background-color: #f2f9fc;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 15px;
}

.buttonDiv {
  width: 200px;
  height: 90px;
  margin-top: 10px;
}
