.box1 {
  width: 30px;
  height: 90px;
  border: 2 solid #7baac7;
  background-color: #f2f9fc;
}

.box2 {
  width: 30px;
  height: 90px;
  border: 2 solid #7150b3;
  background-color: #f2f9fc;
}
